In [1]:
import sys
from pathlib import Path

def _ensure_project_on_path(marker: str = 'bet365i.toml') -> None:
    current = Path.cwd().resolve()
    for candidate in (current,) + tuple(current.parents):
        if (candidate / marker).exists():
            project_root = candidate
            break
    else:
        project_root = current
    src_dir = project_root / 'src'
    for path in (project_root, src_dir):
        path_str = str(path)
        if path.exists() and path_str not in sys.path:
            sys.path.insert(0, path_str)

_ensure_project_on_path()

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/raw/football_data/pl_2023_finished.csv")
df.head

<bound method NDFrame.head of      area.id area.name area.code                                 area.flag  \
0       2072   England       ENG  https://crests.football-data.org/770.svg
1       2072   England       ENG  https://crests.football-data.org/770.svg
2       2072   England       ENG  https://crests.football-data.org/770.svg
3       2072   England       ENG  https://crests.football-data.org/770.svg
4       2072   England       ENG  https://crests.football-data.org/770.svg
..       ...       ...       ...                                       ...
375     2072   England       ENG  https://crests.football-data.org/770.svg
376     2072   England       ENG  https://crests.football-data.org/770.svg
377     2072   England       ENG  https://crests.football-data.org/770.svg
378     2072   England       ENG  https://crests.football-data.org/770.svg
379     2072   England       ENG  https://crests.football-data.org/770.svg

     competition.id competition.name competition.code competition.type  \
0              2021   Premier League               PL           LEAGUE
1              2021   Premier League               PL           LEAGUE
2              2021   Premier League               PL           LEAGUE
3              2021   Premier League               PL           LEAGUE
4              2021   Premier League               PL           LEAGUE
..              ...              ...              ...              ...
375            2021   Premier League               PL           LEAGUE
376            2021   Premier League               PL           LEAGUE
377            2021   Premier League               PL           LEAGUE
378            2021   Premier League               PL           LEAGUE
379            2021   Premier League               PL           LEAGUE

                          competition.emblem  season.id  ... awayTeam.tla  \
0    https://crests.football-data.org/PL.png       1564  ...          MCI
1    https://crests.football-data.org/PL.png       1564  ...          NOT
2    https://crests.football-data.org/PL.png       1564  ...          WHU
3    https://crests.football-data.org/PL.png       1564  ...          LUT
4    https://crests.football-data.org/PL.png       1564  ...          FUL
..                                       ...        ...  ...          ...
375  https://crests.football-data.org/PL.png       1564  ...          AVL
376  https://crests.football-data.org/PL.png       1564  ...          WOL
377  https://crests.football-data.org/PL.png       1564  ...          FUL
378  https://crests.football-data.org/PL.png       1564  ...          WHU
379  https://crests.football-data.org/PL.png       1564  ...          TOT

                               awayTeam.crest  score.winner  score.duration  \
0     https://crests.football-data.org/65.png     AWAY_TEAM         REGULAR
1    https://crests.football-data.org/351.png     HOME_TEAM         REGULAR
2    https://crests.football-data.org/563.png          DRAW         REGULAR
3    https://crests.football-data.org/389.png     HOME_TEAM         REGULAR
4     https://crests.football-data.org/63.png     AWAY_TEAM         REGULAR
..                                        ...           ...             ...
375   https://crests.football-data.org/58.png     HOME_TEAM         REGULAR
376   https://crests.football-data.org/76.png     HOME_TEAM         REGULAR
377   https://crests.football-data.org/63.png     AWAY_TEAM         REGULAR
378  https://crests.football-data.org/563.png     HOME_TEAM         REGULAR
379   https://crests.football-data.org/73.png     AWAY_TEAM         REGULAR

     score.fullTime.home score.fullTime.away score.halfTime.home  \
0                      0                   3                   0
1                      2                   1                   2
2                      1                   1                   0
3                      4                   1                   1
4                      0                   1                   0
..                   ...                 ...                 ...
375                    5                   0                   2
376                    2                   0                   2
377                    2                   4                   1
378                    3                   1                   2
379                    0                   3                   0

     score.halfTime.away                                           odds.msg  \
0                      2  Activate Odds-Package in User-Panel to retriev...
1                      0  Activate Odds-Package in User-Panel to retriev...
2                      0  Activate Odds-Package in User-Panel to retriev...
3                      0  Activate Odds-Package in User-Panel to retriev...
4                      0  Activate Odds-Package in User-Panel to retriev...
..                   ...                                                ...
375                    0  Activate Odds-Package in User-Panel to retriev...
376                    0  Activate Odds-Package in User-Panel to retriev...
377                    2  Activate Odds-Package in User-Panel to retriev...
378                    1  Activate Odds-Package in User-Panel to retriev...
379                    1  Activate Odds-Package in User-Panel to retriev...

                                              referees
0    [{"id": 11585, "name": "Craig Pawson", "type":...
1    [{"id": 11605, "name": "Michael Oliver", "type...
2    [{"id": 11309, "name": "Peter Bankes", "type":...
3    [{"id": 11556, "name": "David Coote", "type": ...
4    [{"id": 11494, "name": "Stuart Attwell", "type...
..                                                 ...
375  [{"id": 11317, "name": "Darren Bond", "type": ...
376  [{"id": 11443, "name": "Chris Kavanagh", "type...
377  [{"id": 11626, "name": "Matt Donohue", "type":...
378  [{"id": 11327, "name": "John Brooks", "type": ...
379  [{"id": 193220, "name": "Bobby Madley", "type"...

[380 rows x 39 columns]>

In [4]:
df.columns

Index(['area.id', 'area.name', 'area.code', 'area.flag', 'competition.id',
       'competition.name', 'competition.code', 'competition.type',
       'competition.emblem', 'season.id', 'season.startDate', 'season.endDate',
       'season.currentMatchday', 'season.winner', 'id', 'utcDate', 'status',
       'matchday', 'stage', 'group', 'lastUpdated', 'homeTeam.id',
       'homeTeam.name', 'homeTeam.shortName', 'homeTeam.tla', 'homeTeam.crest',
       'awayTeam.id', 'awayTeam.name', 'awayTeam.shortName', 'awayTeam.tla',
       'awayTeam.crest', 'score.winner', 'score.duration',
       'score.fullTime.home', 'score.fullTime.away', 'score.halfTime.home',
       'score.halfTime.away', 'odds.msg', 'referees'],
      dtype='object')

In [5]:
df["stage"]

0      REGULAR_SEASON
1      REGULAR_SEASON
2      REGULAR_SEASON
3      REGULAR_SEASON
4      REGULAR_SEASON
            ...
375    REGULAR_SEASON
376    REGULAR_SEASON
377    REGULAR_SEASON
378    REGULAR_SEASON
379    REGULAR_SEASON
Name: stage, Length: 380, dtype: object

In [6]:
df.drop(["area.flag", 
    "competition.emblem", 
    "season.winner", 
    "season.currentMatchday", 
    "homeTeam.crest", 
    "awayTeam.crest", 
    "area.name", 
    "area.flag",
    "group", 
    "odds.msg", 
    "score.fullTime.home", 
    'score.fullTime.away', 
    'score.halfTime.home',
    'score.halfTime.away',
    "score.duration",
    "status"], 
axis=1)

,area.id,area.code,competition.id,competition.name,competition.code,competition.type,season.id,season.startDate,season.endDate,id,...,homeTeam.id,homeTeam.name,homeTeam.shortName,homeTeam.tla,awayTeam.id,awayTeam.name,awayTeam.shortName,awayTeam.tla,score.winner,referees
0,2072,ENG,2021,Premier League,PL,LEAGUE,1564,2023-08-11,2024-05-19,435943,...,328,Burnley FC,Burnley,BUR,65,Manchester City FC,Man City,MCI,AWAY_TEAM,"[{""id"": 11585, ""name"": ""Craig Pawson"", ""type"":..."
1,2072,ENG,2021,Premier League,PL,LEAGUE,1564,2023-08-11,2024-05-19,435944,...,57,Arsenal FC,Arsenal,ARS,351,Nottingham Forest FC,Nottingham,NOT,HOME_TEAM,"[{""id"": 11605, ""name"": ""Michael Oliver"", ""type..."
2,2072,ENG,2021,Premier League,PL,LEAGUE,1564,2023-08-11,2024-05-19,435945,...,1044,AFC Bournemouth,Bournemouth,BOU,563,West Ham United FC,West Ham,WHU,DRAW,"[{""id"": 11309, ""name"": ""Peter Bankes"", ""type"":..."
3,2072,ENG,2021,Premier League,PL,LEAGUE,1564,2023-08-11,2024-05-19,435946,...,397,Brighton & Hove Albion FC,Brighton Hove,BHA,389,Luton Town FC,Luton Town,LUT,HOME_TEAM,"[{""id"": 11556, ""name"": ""David Coote"", ""type"": ..."
4,2072,ENG,2021,Premier League,PL,LEAGUE,1564,2023-08-11,2024-05-19,435947,...,62,Everton FC,Everton,EVE,63,Fulham FC,Fulham,FUL,AWAY_TEAM,"[{""id"": 11494, ""name"": ""Stuart Attwell"", ""type..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2072,ENG,2021,Premier League,PL,LEAGUE,1564,2023-08-11,2024-05-19,436318,...,354,Crystal Palace FC,Crystal Palace,CRY,58,Aston Villa FC,Aston Villa,AVL,HOME_TEAM,"[{""id"": 11317, ""name"": ""Darren Bond"", ""type"": ..."
376,2072,ENG,2021,Premier League,PL,LEAGUE,1564,2023-08-11,2024-05-19,436319,...,64,Liverpool FC,Liverpool,LIV,76,Wolverhampton Wanderers FC,Wolverhampton,WOL,HOME_TEAM,"[{""id"": 11443, ""name"": ""Chris Kavanagh"", ""type..."
377,2072,ENG,2021,Premier League,PL,LEAGUE,1564,2023-08-11,2024-05-19,436320,...,389,Luton Town FC,Luton Town,LUT,63,Fulham FC,Fulham,FUL,AWAY_TEAM,"[{""id"": 11626, ""name"": ""Matt Donohue"", ""type"":..."
378,2072,ENG,2021,Premier League,PL,LEAGUE,1564,2023-08-11,2024-05-19,436321,...,65,Manchester City FC,Man City,MCI,563,West Ham United FC,West Ham,WHU,HOME_TEAM,"[{""id"": 11327, ""name"": ""John Brooks"", ""type"": ..."
379,2072,ENG,2021,Premier League,PL,LEAGUE,1564,2023-08-11,2024-05-19,436322,...,356,Sheffield United FC,Sheffield Utd,SHE,73,Tottenham Hotspur FC,Tottenham,TOT,AWAY_TEAM,"[{""id"": 193220, ""name"": ""Bobby Madley"", ""type""..."

In [7]:
df.columns

Index(['area.id', 'area.name', 'area.code', 'area.flag', 'competition.id',
       'competition.name', 'competition.code', 'competition.type',
       'competition.emblem', 'season.id', 'season.startDate', 'season.endDate',
       'season.currentMatchday', 'season.winner', 'id', 'utcDate', 'status',
       'matchday', 'stage', 'group', 'lastUpdated', 'homeTeam.id',
       'homeTeam.name', 'homeTeam.shortName', 'homeTeam.tla', 'homeTeam.crest',
       'awayTeam.id', 'awayTeam.name', 'awayTeam.shortName', 'awayTeam.tla',
       'awayTeam.crest', 'score.winner', 'score.duration',
       'score.fullTime.home', 'score.fullTime.away', 'score.halfTime.home',
       'score.halfTime.away', 'odds.msg', 'referees'],
      dtype='object')

In [8]:
df.describe()

,area.id,competition.id,season.id,season.currentMatchday,season.winner,id,matchday,group,homeTeam.id,awayTeam.id,score.fullTime.home,score.fullTime.away,score.halfTime.home,score.halfTime.away
count,380.0,380.0,380.0,380.0,0.0,380.000000,380.000000,0.0,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000
mean,2072.0,2021.0,1564.0,38.0,NaN,436132.500000,19.500000,NaN,244.800000,244.800000,1.800000,1.478947,0.734211,0.626316
std,0.0,0.0,0.0,0.0,NaN,109.840794,10.980313,NaN,246.103732,246.103732,1.365616,1.277811,0.831687,0.823367
min,2072.0,2021.0,1564.0,38.0,NaN,435943.000000,1.000000,NaN,57.000000,57.000000,0.000000,0.000000,0.000000,0.000000
25%,2072.0,2021.0,1564.0,38.0,NaN,436037.750000,10.000000,NaN,63.750000,63.750000,1.000000,1.000000,0.000000,0.000000
50%,2072.0,2021.0,1564.0,38.0,NaN,436132.500000,19.500000,NaN,74.500000,74.500000,2.000000,1.000000,1.000000,0.000000
75%,2072.0,2021.0,1564.0,38.0,NaN,436227.250000,29.000000,NaN,364.250000,364.250000,3.000000,2.000000,1.000000,1.000000
max,2072.0,2021.0,1564.0,38.0,NaN,436322.000000,38.000000,NaN,1044.000000,1044.000000,6.000000,8.000000,4.000000,5.000000

In [9]:
CLEANED_DF_PATH = "../data/cleaned/football_data/cleaned_pl_2025_finished.csv"

In [10]:
cleaned_df = pd.read_csv(CLEANED_DF_PATH)
cleaned_df

,competition.code,id,utcDate,matchday,lastUpdated,homeTeam.id,homeTeam.name,awayTeam.id,awayTeam.name,score.winner,score.fullTime.home,score.fullTime.away
0,PL,537785,2025-08-15 19:00:00+00:00,1,2026-02-16 00:20:57+00:00,64,Liverpool_FC,1044,AFC_Bournemouth,H,4,2
1,PL,537786,2025-08-16 11:30:00+00:00,1,2026-02-16 00:20:57+00:00,58,Aston_Villa_FC,67,Newcastle_United_FC,D,0,0
2,PL,537787,2025-08-16 14:00:00+00:00,1,2026-02-16 00:20:57+00:00,397,Brighton_&_Hove_Albion_FC,63,Fulham_FC,D,1,1
3,PL,537789,2025-08-16 14:00:00+00:00,1,2026-02-16 00:20:57+00:00,71,Sunderland_AFC,563,West_Ham_United_FC,H,3,0
4,PL,537790,2025-08-16 14:00:00+00:00,1,2026-02-16 00:20:57+00:00,73,Tottenham_Hotspur_FC,328,Burnley_FC,H,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...
255,PL,538041,2026-02-11 19:30:00+00:00,26,2026-02-16 00:20:57+00:00,65,Manchester_City_FC,63,Fulham_FC,H,3,0
256,PL,538042,2026-02-11 19:30:00+00:00,26,2026-02-16 00:20:57+00:00,351,Nottingham_Forest_FC,76,Wolverhampton_Wanderers_FC,D,0,0
257,PL,538037,2026-02-11 19:40:00+00:00,26,2026-02-16 00:20:57+00:00,354,Crystal_Palace_FC,328,Burnley_FC,A,2,3
258,PL,538035,2026-02-11 20:15:00+00:00,26,2026-02-16 00:20:57+00:00,71,Sunderland_AFC,64,Liverpool_FC,A,0,1
259,PL,538038,2026-02-12 20:00:00+00:00,26,2026-02-16 00:20:57+00:00,402,Brentford_FC,57,Arsenal_FC,D,1,1

In [11]:
cleaned_df.describe()

,id,matchday,homeTeam.id,awayTeam.id,score.fullTime.home,score.fullTime.away
count,260.000000,260.000000,260.000000,260.000000,260.000000,260.000000
mean,537914.500000,13.500000,228.150000,228.150000,1.542308,1.234615
std,75.199734,7.514465,246.330891,246.330891,1.173278,1.095249
min,537785.000000,1.000000,57.000000,57.000000,0.000000,0.000000
25%,537849.750000,7.000000,63.750000,63.750000,1.000000,0.000000
50%,537914.500000,13.500000,72.000000,72.000000,1.000000,1.000000
75%,537979.250000,20.000000,351.750000,351.750000,2.000000,2.000000
max,538044.000000,26.000000,1044.000000,1044.000000,5.000000,5.000000

In [12]:
cleaned_df["utcDate"].dtypes

dtype('O')

In [13]:
from utils.dataframe import load_cleaned_dataframe

In [14]:
load_cleaned_dataframe(CLEANED_DF_PATH)

,competition.code,id,utcDate,matchday,lastUpdated,homeTeam.id,homeTeam.name,awayTeam.id,awayTeam.name,score.winner,score.fullTime.home,score.fullTime.away
0,PL,537785,2025-08-15 19:00:00+00:00,1,2026-02-16 00:20:57+00:00,64,Liverpool_FC,1044,AFC_Bournemouth,H,4,2
1,PL,537786,2025-08-16 11:30:00+00:00,1,2026-02-16 00:20:57+00:00,58,Aston_Villa_FC,67,Newcastle_United_FC,D,0,0
2,PL,537787,2025-08-16 14:00:00+00:00,1,2026-02-16 00:20:57+00:00,397,Brighton_&_Hove_Albion_FC,63,Fulham_FC,D,1,1
3,PL,537789,2025-08-16 14:00:00+00:00,1,2026-02-16 00:20:57+00:00,71,Sunderland_AFC,563,West_Ham_United_FC,H,3,0
4,PL,537790,2025-08-16 14:00:00+00:00,1,2026-02-16 00:20:57+00:00,73,Tottenham_Hotspur_FC,328,Burnley_FC,H,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...
255,PL,538041,2026-02-11 19:30:00+00:00,26,2026-02-16 00:20:57+00:00,65,Manchester_City_FC,63,Fulham_FC,H,3,0
256,PL,538042,2026-02-11 19:30:00+00:00,26,2026-02-16 00:20:57+00:00,351,Nottingham_Forest_FC,76,Wolverhampton_Wanderers_FC,D,0,0
257,PL,538037,2026-02-11 19:40:00+00:00,26,2026-02-16 00:20:57+00:00,354,Crystal_Palace_FC,328,Burnley_FC,A,2,3
258,PL,538035,2026-02-11 20:15:00+00:00,26,2026-02-16 00:20:57+00:00,71,Sunderland_AFC,64,Liverpool_FC,A,0,1
259,PL,538038,2026-02-12 20:00:00+00:00,26,2026-02-16 00:20:57+00:00,402,Brentford_FC,57,Arsenal_FC,D,1,1

In [15]:
cleaned_df["homeTeam.name"]

0                   Liverpool_FC
1                 Aston_Villa_FC
2      Brighton_&_Hove_Albion_FC
3                 Sunderland_AFC
4           Tottenham_Hotspur_FC
                 ...
255           Manchester_City_FC
256         Nottingham_Forest_FC
257            Crystal_Palace_FC
258               Sunderland_AFC
259                 Brentford_FC
Name: homeTeam.name, Length: 260, dtype: object

In [16]:
cleaned_df.columns

Index(['competition.code', 'id', 'utcDate', 'matchday', 'lastUpdated',
       'homeTeam.id', 'homeTeam.name', 'awayTeam.id', 'awayTeam.name',
       'score.winner', 'score.fullTime.home', 'score.fullTime.away'],
      dtype='object')

In [17]:
from utils.dataframe import load_feature_dataframe

In [18]:
feature_df = load_feature_dataframe("../data/features/football_data/features_pl_2023_finished.csv")
feature_df.shape

(380, 59)

In [19]:
feature_df.describe()

,id,matchday,homeTeam.id,awayTeam.id,score.fullTime.home,score.fullTime.away,elo_home_pre,elo_away_pre,elo_delta_pre,elo_home_exp,...,awayTeam.name__Manchester_United_FC,awayTeam.name__Newcastle_United_FC,awayTeam.name__Nottingham_Forest_FC,awayTeam.name__Sheffield_United_FC,awayTeam.name__Tottenham_Hotspur_FC,awayTeam.name__West_Ham_United_FC,awayTeam.name__Wolverhampton_Wanderers_FC,score.winner__A,score.winner__D,score.winner__H
count,380.0,380.0,380.0,380.0,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,...,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000
mean,436132.5,19.5,244.8,244.8,1.800000,1.478947,1500.268996,1499.651095,0.617902,0.582561,...,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000,0.323684,0.215789,0.460526
std,109.840794,10.980313,246.103732,246.103732,1.365616,1.277811,53.078842,53.014216,75.920930,0.101162,...,0.218232,0.218232,0.218232,0.218232,0.218232,0.218232,0.218232,0.468498,0.411911,0.499097
min,435943.0,1.0,57.0,57.0,0.000000,0.000000,1346.431743,1351.291231,-210.462571,0.296060,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,436037.75,10.0,63.75,63.75,1.000000,1.000000,1472.600437,1468.329105,-46.039526,0.520080,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,436132.5,19.5,74.5,74.5,2.000000,1.000000,1500.000000,1499.692044,0.000000,0.585499,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,436227.25,29.0,364.25,364.25,3.000000,2.000000,1526.688838,1526.233679,45.138544,0.646850,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,436322.0,38.0,1044.0,1044.0,6.000000,8.000000,1662.565869,1654.182345,233.397271,0.844083,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [20]:
feature_df["utcDate"].dtype

datetime64[ns, UTC]

In [21]:
from data.features.clubelo_tss import build_team_strength_scores

[02/16/26 11:32:02] INFO     No custom team name replacements found. You can configure these in       ]8;id=191027;file:///Users/cyrilgabriele/anaconda3/envs/bet365i/lib/python3.11/site-packages/soccerdata/_config.py\_config.py]8;;\:]8;id=606507;file:///Users/cyrilgabriele/anaconda3/envs/bet365i/lib/python3.11/site-packages/soccerdata/_config.py#92\92]8;;\
                             /Users/cyrilgabriele/Documents/Private/00_projects/bet365i/config/teamna
                             me_replacements.json.

                    INFO     No custom league dict found. You can configure additional leagues in    ]8;id=739394;file:///Users/cyrilgabriele/anaconda3/envs/bet365i/lib/python3.11/site-packages/soccerdata/_config.py\_config.py]8;;\:]8;id=347941;file:///Users/cyrilgabriele/anaconda3/envs/bet365i/lib/python3.11/site-packages/soccerdata/_config.py#198\198]8;;\
                             /Users/cyrilgabriele/Documents/Private/00_projects/bet365i/config/leagu
                             e_dict.json.

In [22]:
cleaned_paths = [
    "../../data/cleaned/football_data/cleaned_pl_2023_finished.csv",
    "../../data/cleaned/football_data/cleaned_pl_2024_finished.csv",
    "../../data/cleaned/football_data/cleaned_pl_2025_finished.csv",
]

In [23]:
from requests import ConnectionError  # soccerdata
import logging
from requests import ConnectionError

In [24]:
cleaned_paths = [
    "../../data/cleaned/football_data/cleaned_pl_2023_finished.csv",
    "../../data/cleaned/football_data/cleaned_pl_2024_finished.csv",
    "../../data/cleaned/football_data/cleaned_pl_2025_finished.csv",
]

In [25]:
'''
tss_frames = []
missing_snapshots: dict[str, list[str]] = {}

for cleaned_path in cleaned_paths:
    cleaned_df = load_cleaned_dataframe(cleaned_path)

    try:
        tss = build_team_strength_scores(cleaned_df)
    except ConnectionError as exc:
        logging.warning(
            "ClubElo download failed for %s: %s",
            cleaned_path,
            exc,
        )
        # Record every snapshot date that failed (collected inside build_team_strength_scores)
        missing_snapshots.setdefault(cleaned_path, []).append(str(exc))
        continue

    tss_frames.append(tss.assign(source_cleaned_path=cleaned_path))

display(f"TSS tables generated: {len(tss_frames)}")
if missing_snapshots:
    display({"missing_snapshots": missing_snapshots})
'''

'\ntss_frames = []\nmissing_snapshots: dict[str, list[str]] = {}\n\nfor cleaned_path in cleaned_paths:\n    cleaned_df = load_cleaned_dataframe(cleaned_path)\n\n    try:\n        tss = build_team_strength_scores(cleaned_df)\n    except ConnectionError as exc:\n        logging.warning(\n            "ClubElo download failed for %s: %s",\n            cleaned_path,\n            exc,\n        )\n        # Record every snapshot date that failed (collected inside build_team_strength_scores)\n        missing_snapshots.setdefault(cleaned_path, []).append(str(exc))\n        continue\n\n    tss_frames.append(tss.assign(source_cleaned_path=cleaned_path))\n\ndisplay(f"TSS tables generated: {len(tss_frames)}")\nif missing_snapshots:\n    display({"missing_snapshots": missing_snapshots})\n'

In [26]:
# tss_frames[0]

In [27]:
from utils.dataframe import load_cleaned_dataframe
from data.features.fbref_elo import (
    build_fbref_elo_features,
    EloConfig,
    FBRefColumnMap,
)

In [28]:
elo_features = build_fbref_elo_features(
    cleaned_df,
    config=EloConfig(k_factor=24, home_field_advantage=55),
    columns=FBRefColumnMap(
        date="utcDate",
        home_team="homeTeam.name",
        away_team="awayTeam.name",
        home_goals="score.fullTime.home",
        away_goals="score.fullTime.away",
        season="season",  # ensure this column exists (int or str)
    ),
)

In [29]:
elo_features

     elo_home_pre  elo_away_pre  elo_delta_pre  elo_home_exp  elo_away_exp
0     1500.000000   1500.000000       0.000000      0.578497      0.421503
1     1500.000000   1500.000000       0.000000      0.578497      0.421503
2     1500.000000   1500.000000       0.000000      0.578497      0.421503
3     1500.000000   1500.000000       0.000000      0.578497      0.421503
4     1500.000000   1500.000000       0.000000      0.578497      0.421503
..            ...           ...            ...           ...           ...
255   1584.461519   1490.887392      93.574127      0.701670      0.298330
256   1458.322234   1358.867686      99.454548      0.708707      0.291293
257   1484.567276   1384.808409      99.758867      0.709068      0.290932
258   1511.279608   1514.889483      -3.609875      0.573422      0.426578
259   1527.199303   1614.267340     -87.068037      0.453981      0.546019

[260 rows x 5 columns]

In [30]:
cleaned_df.join(elo_features)

,competition.code,id,utcDate,matchday,lastUpdated,homeTeam.id,homeTeam.name,awayTeam.id,awayTeam.name,score.winner,score.fullTime.home,score.fullTime.away,elo_home_pre,elo_away_pre,elo_delta_pre,elo_home_exp,elo_away_exp
0,PL,537785,2025-08-15 19:00:00+00:00,1,2026-02-16 00:20:57+00:00,64,Liverpool_FC,1044,AFC_Bournemouth,H,4,2,1500.000000,1500.000000,0.000000,0.578497,0.421503
1,PL,537786,2025-08-16 11:30:00+00:00,1,2026-02-16 00:20:57+00:00,58,Aston_Villa_FC,67,Newcastle_United_FC,D,0,0,1500.000000,1500.000000,0.000000,0.578497,0.421503
2,PL,537787,2025-08-16 14:00:00+00:00,1,2026-02-16 00:20:57+00:00,397,Brighton_&_Hove_Albion_FC,63,Fulham_FC,D,1,1,1500.000000,1500.000000,0.000000,0.578497,0.421503
3,PL,537789,2025-08-16 14:00:00+00:00,1,2026-02-16 00:20:57+00:00,71,Sunderland_AFC,563,West_Ham_United_FC,H,3,0,1500.000000,1500.000000,0.000000,0.578497,0.421503
4,PL,537790,2025-08-16 14:00:00+00:00,1,2026-02-16 00:20:57+00:00,73,Tottenham_Hotspur_FC,328,Burnley_FC,H,3,0,1500.000000,1500.000000,0.000000,0.578497,0.421503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,PL,538041,2026-02-11 19:30:00+00:00,26,2026-02-16 00:20:57+00:00,65,Manchester_City_FC,63,Fulham_FC,H,3,0,1584.461519,1490.887392,93.574127,0.701670,0.298330
256,PL,538042,2026-02-11 19:30:00+00:00,26,2026-02-16 00:20:57+00:00,351,Nottingham_Forest_FC,76,Wolverhampton_Wanderers_FC,D,0,0,1458.322234,1358.867686,99.454548,0.708707,0.291293
257,PL,538037,2026-02-11 19:40:00+00:00,26,2026-02-16 00:20:57+00:00,354,Crystal_Palace_FC,328,Burnley_FC,A,2,3,1484.567276,1384.808409,99.758867,0.709068,0.290932
258,PL,538035,2026-02-11 20:15:00+00:00,26,2026-02-16 00:20:57+00:00,71,Sunderland_AFC,64,Liverpool_FC,A,0,1,1511.279608,1514.889483,-3.609875,0.573422,0.426578
259,PL,538038,2026-02-12 20:00:00+00:00,26,2026-02-16 00:20:57+00:00,402,Brentford_FC,57,Arsenal_FC,D,1,1,1527.199303,1614.267340,-87.068037,0.453981,0.546019